src/test/resources/blog.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="blog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="posts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="post" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="category"/>
                    <xs:element name="author">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="username"/>
                          <xs:element type="xs:string" name="email"/>
                          <xs:element type="xs:dateTime" name="joinedAt"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:dateTime" name="createdAt"/>
                    <xs:element type="xs:string" name="summary"/>
                    <xs:element type="xs:string" name="content"/>
                    <xs:element type="xs:short" name="views"/>
                    <xs:element name="ratings">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element name="rating">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="user">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="username"/>
                                      <xs:element type="xs:string" name="email"/>
                                      <xs:element type="xs:dateTime" name="joinedAt"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="isLiked"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="comments">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="comment" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="author">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="username"/>
                                      <xs:element type="xs:string" name="email"/>
                                      <xs:element type="xs:dateTime" name="joinedAt"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:dateTime" name="createdAt"/>
                                <xs:element type="xs:string" name="content"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="id" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="tags">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="tag" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="users">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="username"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:dateTime" name="joinedAt"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>